# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\dudu_\Documents\GitHub\Aulas\2_Periodo\Linguagem-de-Programação-Orientada-a-Objetos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
